html,
body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: .25fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 1px solid pink;
    min-height: 100vh;
    gap: 4px;
}

.header {
    border: 1px solid blue;
    grid-column: 2 / 4;
}

.sidebar {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    grid-row: 1 / 4;
    justify-content: center;
    align-items: center;
}

.sidebar ul {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.settingsList {
    margin-top: 10px;
    

}

.main {
    border: 1px solid blue;
    grid-row: 2 / 4

}

li {
    list-style-type: none;
}