html,
body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: .25fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 1px solid pink;
    min-height: 100vh;
    gap: 4px;
}

.header {
    border: 1px solid blue;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    padding: 20px;
    grid-column: 2 / -1;
}

.search {
    grid-column: 1;
    grid-row: 1
}

.search input {
    width: 80%;
    padding: 16px;
}

.profile {
    grid-column: 2;
    grid-row: 1;
}

.actions {
    grid-column: 2;
    grid-row: 2;
}

.greeting {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.sidebar {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    grid-row: 1 / 4;
    justify-content: center;
    align-items: center;
}

.sidebar ul {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.settingsList {
    margin-top: 10px;
    

}

.main {
    border: 1px solid blue;
    grid-row: 2 / 4

}

.main ul {
    border: 1px solid rgb(251, 147, 255);
}

li {
    list-style-type: none;
}